<!--? Cuerpo General-->
<!--  <div class="flex flex-col flex-auto w-full h-full bg-slate-500">
    <app-header></app-header>
    <app-body></app-body>
  </div>
-->
<!--* pruebas-->


<!-- Before extracting a custom class -->
<!-- After extracting a custom class -->
<button class="btn-primary">
  Save changes
</button>
<button class="btn-primary">
  Save changes
</button>
<button class="btn-primary">
  Save changes
</button>
<button class="btn-primary">
  Save changes
</button>
<button class="btn-primary">
  Save changes
</button>
